.App{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

/* Style the form labels */
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style the form inputs and textarea */
form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style the checkbox input */
form input[type="checkbox"] {
  margin-top: 5px;
}


form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


form input[type="submit"]:hover {
  background-color: #45a049;
}


header{
  text-align: center;
  color: #EF4444;
  font-size: x-large;
  background-color:#D1D5DB;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead th, tbody td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #aaf4c8;
}
tbody tr:nth-child(odd) {
  background-color: #0de589;
}
button{
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #3a4149;
  background: #e7ebee;
  line-height: 1.15;
  font-size: 16px;
  

}
button:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #06a27b;
}

